# TODO: Update with exact module version
numpy
torch
opencv_python
loguru
tqdm
torchvision
#thop
#ninja
tabulate

lap
scipy

# verified versions
# pycocotools corresponds to https://github.com/ppwwyyxx/cocoapi
pycocotools
#onnx
#onnxruntime
#onnx-simplifier